@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
    font-weight: bold;
}
body {
    background-image: linear-gradient(#eaa2d8, #6068c2);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 5px;
    margin:0;
}


.calculator-outer {
    display: flex;
    justify-content: center;
    background-color: #CDB4DB;
    width: 450px;
    border-radius: 10px;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.calculator-inner {
    display: grid;
    min-height: 100px;
    min-width: 100px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
}

.screen{
    border: 1px solid #CDB4DB;
    grid-column: span 4;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    
}

.previous {
    font-size: 20px;
}

.current {
    font-size: 35px;
}

button {
    border: 1px solid rgb(151, 126, 144);
    height: 100px;
    min-width: 100px;
    border-radius: 50px;
    font-size: 20px;
}

.span-two {
    grid-column: span 2;
}

.symbols {
    background-color: #FFAFCC;
}

.grey:hover {
    background-color: rgb(201, 195, 195);
}
.symbols:hover {
    background-color: #ca678b;
}
